16000 DIALOG DISCARDABLE  0, 0, 189, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",1,171,7,11,14,NOT WS_VISIBLE | WS_DISABLED
    PUSHBUTTON      "Cancel",2,172,24,10,14,NOT WS_VISIBLE | WS_DISABLED
    LTEXT           "Static",3,16,7,148,83
    PUSHBUTTON      "www.adobe.com",4,13,100,67,13
    PUSHBUTTON      "partners.adobe.com",5,91,100,76,13
END
